version: 2
jobs:
  build:
    docker:
      - image: segment/circleci-golang:1.11.1
        environment:
          GO111MODULE: 'on'
    steps:
      - checkout
      - run: go test ./...

  publish_hub:
    docker:
      - image: segment/circleci-golang:1.11.1
    steps:
      - setup_remote_docker: { reusable: true, docker_layer_caching: true }
      - checkout
      - run:
          name: Publish Docker Image (Hub)
          command: |
            sha=$(git rev-parse --short HEAD)
            tag=${CIRCLE_TAG:-circleci-$sha}
            docker login -u ${DOCKER_USER} -p ${DOCKER_PASS}
            make publish-image DOCKER_REPO=segment/pprof-server:${tag}

  publish_ecr:
    docker:
      - image: segment/circleci-golang:1.11.1
    steps:
      - setup_remote_docker: { reusable: true, docker_layer_caching: true }
      - checkout
      - run:
          name: Publish Docker Image (ECR)
          command: |
            sha=$(git rev-parse --short HEAD)
            tag=${CIRCLE_TAG:-$sha}
            rep=${AWS_ACCOUNT_ID}.dkr.ecr.us-west-2.amazonaws.com/pprof-server:${tag}
            $(aws ecr get-login --no-include-email --region ${AWS_REGION})
            make publish-image DOCKER_REPO=${rep}

workflows:
  version: 2
  run:
    jobs:
      - build
      - publish_hub
      - publish_ecr
